{% extends "front/base.twig" %}
{% block title %}Login to Kurdish Questions{% endblock %}

{% block base_content %}

{% embed 'front/breaking.news.twig' %}{% endembed %}
{# {% embed 'front/sliderCategory.twig' %}{% endembed %} #}
{% embed 'front/page.content.twig' with { content_class : 'inner-page-contents' }%}
  {% block page_content %}
    {% embed 'front/left.column.twig' with { page_title : 'Login Form' } %}
      {% block left_column %}
        <div class="row login-form">
          <form action="/login" method="POST">
            <div class="col-lg-6 col-lg-offset-3"><input name="username" type="text" placeholder="User Name"></div>
            <div class="col-lg-6 col-lg-offset-3"><input name="password" type="password" placeholder="Password"></div>
            <div class="col-lg-6 col-lg-offset-3"><input type="submit" value="REGISTER"></div>
          </form>
        </div>
      {% endblock %}
    {% endembed %}
    {% embed 'front/right.column.twig' %}{% endembed %}
  {% endblock %}
{% endembed %}
{% endblock %}
