<!-- PAGE CONTENTS STARTS
  ========================================================================= -->
<section class="{{content_class}}">
  <div class="row">
    {% block page_content %}
    {% endblock %}
  </div>
</section>
<!-- /. PAGE CONTENTS ENDS
========================================================================= -->
