<!-- SLIDER STARTS
  ========================================================================= -->
<section>
  <div class="row slider">
    <!-- Slide 1 Starts -->
    <div>
      <div class="col-lg-6">
        <div class="pic-with-overlay-2">
          <img src="http://placehold.it/800x550" class="img-responsive" alt="" >
          <div class="bg">&nbsp;</div>
          <div><span class="category">FASHION PHOTOGRAPHY</span></div>
          <h1><a href="#">Pellentesque habitant morbi senectus et netus et malesuada</a></h1>
          <div class="author">by Janny Doe</div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="pic-with-overlay-2">
          <img src="http://placehold.it/800x550" class="img-responsive" alt="" >
          <div class="bg">&nbsp;</div>
          <div><span class="category">SPORTS</span></div>
          <h1><a href="#">Pellentesque habitant morbi senectus et netus et malesuada</a></h1>
          <div class="author">by Janny Doe</div>
        </div>
      </div>
    </div>
    <!-- Slide 1 Ends -->
    <!-- Slide 2 Starts -->
    <div>
      <div class="col-lg-6">
        <div class="pic-with-overlay-2">
          <img src="http://placehold.it/800x550" class="img-responsive" alt="" >
          <div class="bg">&nbsp;</div>
          <div><span class="category">FOOD</span></div>
          <h1><a href="#">Pellentesque habitant morbi senectus et netus et malesuada</a></h1>
          <div class="author">by Janny Doe</div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="pic-with-overlay-2">
          <img src="http://placehold.it/800x550" class="img-responsive" alt="" >
          <div class="bg">&nbsp;</div>
          <div><span class="category">LIFE STYLE</span></div>
          <h1><a href="#">Pellentesque habitant morbi senectus et netus et malesuada</a></h1>
          <div class="author">by Janny Doe</div>
        </div>
      </div>
    </div>
    <!-- Slide 2 Ends -->
  </div>
</section>
<!-- /. SLIDER ENDS
  ========================================================================= --> 
